<h1>Welcome to GarrioServer2019</h1>
<p class="lead">
    Restarted on 11/22/18<br> 
    Server side, aka the API <br>
    Also has "admin" pages for manual manipulation of content and settings.
</p>
